
.card-img-top
{
    height: 18rem;
}
.card-dropdown
{
    width: 18rem;
    margin: 0em;
    transform: translateX(-1.05rem);
}
.card
{
    max-width: 18rem;
    height: 25rem;
    background-color: #cacaca;
    margin-top: 2rem;
}
