
.card-img-top
{
    height: 18rem;
}
.card-dropdown
{
    width: 18rem;
    margin: 0em;
    transform: translateX(-1.05rem);
}
.card
{
    max-width: 18rem;
    min-height: 25rem;
    background-color: #bbbbbb;
    margin-top: 2rem;
    text-align: center;
}
.botonEditar
{
    margin-right: 20px;
    float:right; 
    font-size:10px; 
    background-color: blue; 
    color: aliceblue;
}
.botonEliminar
{
    margin-right: 90px;
    float:right; 
    font-size:10px; 
    background-color: rgb(255, 0, 0); 
    color: aliceblue; 
}
