<div class="container">
    <div class="dropdown-divider mt-5"></div>
    <div id="element" *ngIf="hasRoute('/modoEdicion')">
      <button  (click)="Nuevo()" class="btn btn-success" style="float:right; margin-left:15px"><i class="fa fa-plus-circle fa-2x" style="color:white;" aria-hidden="true"></i></button>
    </div>
    <h2 class="SOBREMI">Educacion</h2>
    <div class="dropdown-divider "></div>
  </div>
  <div class="row justify-content-center align-content-center">
    <div class="col-sm-8"></div>
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        
        <div class="carousel-inner text-center" >
          <li *ngFor="let estudios of estudioss">
            <div class="carousel-item active" data-bs-interval="10000">
              <img [src]="estudios.imagen" class="d-block w-100 imgcarousel">
              <div class="carousel-caption d-md-block justify-content-xl-center">
                <h5 class="h5carousel">{{estudios.titulo}}</h5>  
                <div class="d-flex h-100 align-items-center justify-content-center">
                  <p class="display-8">{{estudios.escuela}}</p>
                </div>
                <div class="d-flex h-100 align-items-center justify-content-center">
                  <p class="display-8">{{estudios.fecha}}</p>
                </div>  
                <div class="d-flex h-100 align-items-center justify-content-center" *ngIf="hasRoute('/modoEdicion')">
                  <button (click)="Editar(estudios)" class="btn btn-warning btn-xs botonEditar" type="submit"><i class="fa fa-pencil fa-2x" style="color:white;" aria-hidden="true"></i></button>
                  <button (click)="Delete(estudios)"  class="btn btn-danger btn-xs botonEliminar" type="submit"><i class="fa fa-trash fa-2x" style="color:white;" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </li>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>