.carousel {
    height: auto; 
    width: 50em;
    top: 50%;
    bottom: initial;
   }
.imgcarousel
{
    max-width: 55em;
    max-height: 30rem;
}
.display-8
{
    text-align: center;
    color: #131313;
    font-style: oblique;
    font-weight: 500;
    align-content: center;
}
.h5carousel
{
    color:#131313;
    font-weight: 800;
    font-style: italic;
}


.botonEditar
{
    margin-right: 10px; 
    float:right; 
    font-size:10px; 
    background-color: blue; 
    color: aliceblue;
}
.botonEliminar
{
    float:right; 
    font-size:10px; 
    background-color: rgb(255, 0, 0); 
    color: aliceblue; 
}