
  <div class="row d-flex justify-content-center align-items-center h-100 gradient-custom text-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white">
        <div class="card-body p-5 text-center align-content-center">
              
              <div class="mb-md-5 mt-md-4 pb-5 ">
  
                <h2 class="fw-bold mb-2 text-uppercase">Sobre Mi</h2>
                <p class="text-white-50 mb-5 text-center">Por favor modifique los datos de la seccion Sobre Mi</p>
                
                <form action="">
                
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" >Nombre:</label>
                    <input type="text" [(ngModel)]="sobre.nombre" class="form-control form-control-lg" name="nombre" type="text">
                    </div>
                  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" >Titulo:</label>
                    <input type="text" [(ngModel)]="sobre.titulo" class="form-control form-control-lg" name="titulo" >
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" >Lugar de Residencia:</label>
                      <input type="text" [(ngModel)]="sobre.ciudad" class="form-control form-control-lg" name="ciudad" type="text"  >
                      </div>
                    
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" >Descripcion:</label>
                      <input type="text" [(ngModel)]="sobre.descripcion" class="form-control form-control-lg" name="descripcion">
                      </div>

                      <div class="form-outline form-white mb-4">
                        <label class="form-label" >Telefono:</label>
                        <input type="text" [(ngModel)]="sobre.telefono" class="form-control form-control-lg" name="telefono" type="text"  >
                        </div>
                      
                      <div class="form-outline form-white mb-4">
                        <label class="form-label" >Link img Perfil:</label>
                        <input type="text" [(ngModel)]="sobre.foto" class="form-control form-control-lg" name="imagen" >
                        </div>
                        <div class="form-outline form-white mb-4">
                          <label class="form-label" >Link img Mapa:</label>
                          <input type="text" [(ngModel)]="sobre.mapa" class="form-control form-control-lg" name="mapa" >
                          </div>
                    <button  (click)="Actualizar(sobre)" class="btn btn-success">Actualizar</button>
                </form> 
              </div>
              <a class="btn btn-outline-light btn-lg px-5" routerLink="/modoEdicion" routerLinkActive="active">Regresar</a>
            </div>
          </div>
        </div>
      </div>