<div class="container align-content-center text-center" *ngFor="let sobre of sobress">
    <h2 class="SOBREMI mt-5 d-flex">Sobre Mi <div id="element" class="d-flex" *ngIf="hasRoute('/modoEdicion')">
      <button  (click)="Editar(sobre)" class="btn btn-warning botonEditar" ><i class="fa fa-pencil fa-2x"></i></button>
  </div></h2>
    
    <div class="dropdown-divider"></div>
    <div class="row align-items-center text-center">
      <div class="col">
        <img id="foto-perfil" [src]="sobre.foto">
        <p class="SOBREMI fs-2">{{sobre.nombre}}</p>
      </div>
        <div class="col">
        <p class="SOBREMI fs-3">{{sobre.titulo}}</p>
      </div>
      <div class="col">
        <p class="SOBREMI">Lugar de residencia:</p> 
        <p class="text-light">{{sobre.ciudad}}</p>
        <p class="SOBREMI">Descripcion:</p> 
        <p class="text-light">{{sobre.descripcion}}</p>
        <p class="SOBREMI">Telefono:</p> 
        <p class="text-light">{{sobre.telefono}}</p>
      </div>
      <div class="col">
        <img [src]="sobre.mapa" style="max-height: 400px; max-width: 400px; border-radius: 25px;">
        </div>
    </div>
  </div>