<div class="container align-content-center text-center">
    <h2 class="SOBREMI mt-5">{{sobremi.tituloSeccion}}</h2>
    <div class="dropdown-divider"></div>
    <div class="row align-items-center text-center">
      <div class="col">
        <img id="foto-perfil" [src]="sobremi.imgPerfil">
        <p class="SOBREMI fs-2">{{sobremi.name}}</p>
      </div>
        <div class="col">
        <p class="SOBREMI fs-3">{{sobremi.titulo}}</p>
      </div>
      <div class="col">
        <p class="SOBREMI">{{sobremi.tituloLugar}}</p> 
        <p class="text-light">{{sobremi.lugar}}</p>
        <p class="SOBREMI">{{sobremi.tituloEstadoCivil}}</p> 
        <p class="text-light">{{sobremi.EstadoCivil}}</p>
        <p class="SOBREMI">{{sobremi.tituloTelefono}}</p> 
        <p class="text-light">{{sobremi.telefono}}</p>
      </div>
      <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d440879.72448070475!2d-61.514758538917484!3d-30.311910835472894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944a7955c00a9333%3A0xd28c7370c9f01032!2sSan%20Cristobal%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1658362427034!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>