<section>
<div class="container mt-5">
    <h2 class="SOBREMI" style="margin-left: -5px">Conocimientos</h2>
    <div id="element" *ngIf="hasRoute('/modoEdicion')">
        <button  (click)="Nuevo()" class="btn btn-success" style="margin-left: 770px; margin-right: -5px">Agregar</button>
    </div>
</div>

    <div class="container align-content-center text-center">
      <div class="row justify-content-center" >
        <div class="col-md-3 justify-content-xl-center" *ngFor="let conocimiento of conocimientoss">
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div id="number">
                            {{conocimiento.valor}}
                            <p>{{conocimiento.nombre}}</p>
                        </div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                       <linearGradient id="GradientColor">
                          <stop offset="0%" stop-color="#e91e63" />
                          <stop offset="100%" stop-color="#673ab7" />
                       </linearGradient>
                    </defs>
                    <circle cx="80" cy="80" r="70" stroke-linecap="round" [class]="'s'+conocimiento.valor" />
                </svg>
                <div class="d-flex h-100 align-items-center justify-content-center" *ngIf="hasRoute('/modoEdicion')">
                    <button (click)="Editar(conocimiento)" class="btn btn-warning btn-xs botonEditar" type="submit">EDITAR</button>
                    <button (click)="Delete(conocimiento)"  class="btn btn-danger btn-xs botonEliminar" type="submit">ELIMINAR</button>
                </div>
            </div>
        </div>
        </div>
        </div>
</section>