<body class="body" >
  <app-header *ngIf="hasRoute('/')"></app-header>
  <app-sobremi *ngIf="hasRoute('/')"></app-sobremi>
  <app-experiencia *ngIf="hasRoute('/')"></app-experiencia>
  <app-educacion *ngIf="hasRoute('/')"></app-educacion>
  <app-skills *ngIf="hasRoute('/')"></app-skills>
  <app-conocimiento-leng *ngIf="hasRoute('/')"></app-conocimiento-leng>
  <app-proyectos *ngIf="hasRoute('/')"></app-proyectos>
  <app-footer *ngIf="hasRoute('/')"></app-footer>
  <app-login *ngIf="hasRoute('/login')"></app-login>
</body>



