<section>
  <div class="container">
    <div id="element" *ngIf="hasRoute('/modoEdicion')">
      <button  (click)="Nuevo()" class="btn btn-success" style="float:right; margin-left:15px"><i class="fa fa-plus-circle fa-2x"></i></button>
    </div>
    <h2 class="SOBREMI mt-5">Hard & Soft's Skills</h2>
    <div class="dropdown-divider mb-5"></div>
  </div>
  <div class="container">
      <div *ngFor="let skill of skillss">
        <div class="span">
            <span >{{skill.titulo}}</span>
          </div>                   
            <div class="botones" *ngIf="hasRoute('/modoEdicion')">
              <button (click)="Delete(skill)"  class="btn btn-danger btn-xs botonEliminar botones" type="submit"><i class="fa fa-trash fa-2x"></i></button>
              <button (click)="Editar(skill)" class="btn btn-warning btn-xs botonEditar" type="submit"><i class="fa fa-pencil fa-2x"></i></button>
            </div>   
        <div class="first">
            <div [ngStyle]="{'width.%':skill.porcentaje}"class="second"></div>
        </div>
        <div >
            <p class="porcentaje0">0%</p>
            <p class="porcentaje" [ngStyle]="{'margin-left.%':skill.porcentaje}">{{skill.porcentaje}}</p>
            <p class="porcentaje100">100%</p>
        </div>
        </div>
	</div>
</section>